.app {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.app-content__info {
    
}

.app-content__info-wrapper {
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 1px 2px 2px var(--background-header-color);
    padding: 24px 18px;
}

.app-content-info__img > img {
    width: 100%;
}

.app-content-info__name {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 600;
}

.app-content-info__author {
    color: var(--secondary-color);
    margin: 8px 0;
}

.app-content-info__author::after {
    content: ' (tác giả)';
    color: var(--text-color-light);
}

.app-content-info__current-price {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 3rem;
}

.app-content-info__current-price::before {
    content: 'Giá: ';
    font-size: 1.6rem;
    color: var(--text-color);
}

.app-content-info__sale {
    background-color: var(--red-color);
    color: var(--white-color);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    border-left: 1px dashed;
    border-right: 1px dashed;
}

.app-content-info__old-price {
    color: var(--text-color-light);
    margin: 12px 0;
}

.app-content-info__old-price::before {
    content: 'Giá thị trường: ';
    text-decoration: none;
}

.app-content-info__status {
    display: inline-block;
}

.app-content-info__status p {
    display: inline-block;
    color: var(--primary-color);
}

.app-content-info__cate {
    margin: 12px 0;
}

.app-content-info__cate a {
    color: currentColor;
    text-decoration: none;
}

.app-content-info__cate a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.app-content-info__quantity {
    display: flex;
    align-items: center;
    height: 30px;
}

.app-content-info__quantity span {
    width: 30px;
    height: 100%;
    border: 1px solid var(--border-color);
    text-align: center;
    line-height: 30px;
    font-size: 1.8rem;
    cursor: pointer;
}

.app-content-info__quantity input {
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--border-color);
    outline: none;
    text-align: center;
}

.app-content-info__btn {
    margin: 24px 0;
    display: flex;
    gap: 4px;
}

.app-content-info__btn span {
    padding: 16px 24px;
    flex: 1;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.app-content-info__btn--btn-add {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.app-content-info__tel a {
    color: var(--primary-color);
}

.app-content-info__extra {
    border: 1px solid #999;
    padding: 4px;
    border-radius: 4px;
}

.app-content-info-extra__item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 4px;
    margin: 8px 0;
}

.app-content-info-extra__item i {
    width: 20px;
    text-align: center;
}
.row2__title{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 600;
}
.row2__introduce p{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 600;
    text-align: center;
    color:  #A52A2A ; 
}
.row2__introduce span{
    font-size: 1.6rem;
    line-height: 2.6rem;
}